body {
font-family: system-ui, sans-serif;
margin: 0;
background: ivory;
color: #222;
}
main {
margin-top: 120px;
}

/* ---------------------------------------- Top of page stuff ---------------------------------- */
header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #7db9db;
  border-bottom: 1px solid #ddd;
  z-index: 1000;

  display: flex;
  align-items: center;
  padding: 2rem;
}

.logo {
  height: 80px;
  margin-right: 1rem;
  width: auto;
}

.title-block {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-block h1 { margin: 0; }
.title-block .tagline { margin: 0; font-style: italic; }

.nav-bar {
position
}