:root {
  --color-one: #9A3F3F;
  --color-two: #C1856D;
  --text-color: #2f281d;
  --text-color-2: #FBF9D1;
}

body {
height: 100%;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background: #f3f2e2;
color: #2f281d;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* ---------------------------------------- Top of page stuff ---------------------------------- */
header {
  display: flex;
  align-items: normal;
  justify-content: space-around;
  background: var(--color-one);
  padding: 1rem 2rem;
}

.logo {
  height: 150px;
  margin-right: 1rem;
  width: auto;
}


.nav-bar {
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar a {
  background: var(--color-two);
  border-radius: 25px;
  margin: 15px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
}
.nav-bar a:hover {
  background: rgba(76, 29, 179, 0.1);
  border-radius: 8px;
  color: var(--text-color-2);

}

/* ----------------------------------------------- footer stuff---------------------------------------*/


footer {
text-align: center;
background-color: var(--color-one);
display: flex;
justify-content: space-evenly;
align-items: center;
color: var(--text-color-2);
font-size: smaller;

}

.footerH {
  font-size: medium;
  font-style: bold;
  
}

footer a {
font-style: normal;
color: var(--text-color-2)
}

/* ----------------------------- main body section stuff ------------------------------------ */

main {
  flex:1;
}

.hero {
  display:flex;
  flex: 1;
  padding: 1rem;
  margin-left:15%;
  margin-right:15%;
  justify-content: space-evenly;
  align-items: center;
  font-size: small;
}

.hero p {
  width:75%;
  height: fit-content;
}

.hero img {
  height: 500px;
  width: auto;
  margin: 50px;

}

.verticleText {
  justify-content: left;
  margin-bottom: 50px;
  align-items: column;
}

/* ---------------------------------------------- blog stuff --------------------------------------------- */

.blog-container {
  width: 50%;
  margin: 25px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-two);
}

li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}
li a:hover {
  background: rgba(76, 29, 179, 0.1);
  border-radius: 8px;
  color: var(--text-color-2);

}
.bbc {
  padding: 50 px;
  margin-left: 10%;
  margin-right: 10%;
}

.post {
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  margin-left:10%;
  margin-right:10%;
}

.post article {
  align-items: left;
}