:root {
  --color-one: #9A3F3F;
  --color-two: #C1856D;
  --text-color: #2f281d;
  --text-color-2: #FBF9D1;
}

body {
height: 100%;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background: #f3f2e2;
color: #2f281d;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* ---------------------------------------- Top of page stuff ---------------------------------- */
header {
  display: flex;
  align-items: normal;
  justify-content: space-around;
  background: var(--color-one);
  padding: 1rem 2rem;
}

.logo {
  height: 150px;
  margin-right: 1rem;
  width: auto;
}


.nav-bar {
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar a {
  background: var(--color-two);
  border-radius: 25px;
  margin: 15px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
}
.nav-bar a:hover {
  background: rgba(76, 29, 179, 0.1);
  border-radius: 8px;
  color: var(--text-color-2);

}

/* ----------------------------------------------- footer stuff---------------------------------------*/


footer {
text-align: center;
background-color: var(--color-one);
display: flex;
justify-content: space-evenly;
align-items: center;
color: var(--text-color-2);
font-size: smaller;

}

.footerH {
  font-size: medium;
  font-style: bold;
  
}

footer a {
font-style: normal;
color: var(--text-color-2)
}

/* ----------------------------- main body section stuff ------------------------------------ */

main {
  flex:1;
}

.hero {
  display:flex;
  flex: 1;
  padding: 1rem;
  margin-left:15%;
  margin-right:15%;
  justify-content: space-evenly;
  align-items: center;
  font-size: small;
}

.hero p {
  width:75%;
  height: fit-content;
}

.hero img {
  height: 500px;
  width: auto;
  margin: 50px;

}

.verticleText {
  justify-content: left;
  margin-bottom: 50px;
  align-items: column;
}

/* ---------------------------------------------- blog stuff --------------------------------------------- */

.blog-container {
  font-size:20px;
  margin: 25px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-two);
}

.blog-container small {
  font-size:20px;
}

li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}
li a:hover {
  background: rgba(76, 29, 179, 0.1);
  border-radius: 8px;
  color: var(--text-color-2);

}
.bbc {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: normal;
  font-size:30px;
  padding: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.left {
  width:50%;
  
}
.right {
  width:50%;
  justify-self:right;
}

.post {
  display:flex;
  align-self: flex-start;
  margin: 10%;
}


.post h1 {
font-size:50px;
}
.post small {
  font-weight: bold;
}
.post li {
  font-size: larger;
  font-weight:bold;
}
.post p {
  font-size:large;
  font-weight:normal;
}
.post article {
  font-size: 20px;
  align-items: left;
  margin-right:3rem;
}
.imageSection {
  
  justify-content: space-evenly;
}

.imageWrapper {
  background-color: var(--color-one);
  border-radius: 15px;
}

.imageSection img {
  background-color: var(--color-two);
  border-radius: 15px;
  padding:8px;
  height: auto;
  width: 300px;
  margin:50px;
}

.caption {
  flex:1;
  font-weight:bold;
  text-align:center;
  background-color: var(--color-two);
  padding:10px;
  border-radius:15px;
  margin-top:10%;
  margin-bottom:10%;

}