{% extends "base.html" %}

{% block title %}Home | Isaiah Smith{% endblock %}

{% block content %}
    <div class="hero">
    <div class="VetricleText">
    <h1>
        Welcome to my portfolio site! 
    </h1>
    <p>
        While my focus is on my studies and my job, I havn't let that drown out my passion for creating! My main project is currently my 
        Autonomus Plane, fully designed by me. 
        That includes the 3d printed skeleton, the electrical work and saudering, picking out compatible parts, writing the software for the
        plane code and my custion GUI for it, all of it done by me! I take great pride in that fact, as it has proven to me that I am as 
        capable as I belive I am. While I have not gotten it in the air yet, I have focused mark one on "proof of concept" goals, such as 
        the electronics working, the software reasponding to bluetooth communication and boot proticals, and structual integrity of the plane.
        As I move into mark two, I bring in the wisdom I learned in forging my own path through the unkown, and am creating a more adjustable
        and air-worthy plane. It will fly!
    </p>
    </div>
    <img src="{{ url_for('static', filename='images/placeholder_portrait.jpg') }}" alt="Example project image" class="mimg">
    </div>
{% endblock %}
