<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="container">


    <header>
    <img src="{{ url_for('static', filename='images/real_logo.png') }}" alt="Logo" class="logo">
    <div class="title-block">
        <h1> Isaiah Smith</h1>
        <div class="tagline"> Becoming Undeniable</div>

    </div>
  </header>


  <nav class="nav-bar"> 
        <a href="/" class="nav-link">Home</a>
        <a href="/projects" class="nav-link">Projects</a>
        <a href="/about" class="nav-link">About Me</a>
        <a href="/gallery" class="nav-link">Gallery</a>
    </nav>


    <main>
        <p>
            wow, this is some example text!yap yap
        </p>
        <img src="{{url_for('static', filename='images/cooper.png')}}" alt= "example picture" class ="mimg" >
    </main>


    <footer> 

        <div>
            <p class ="footerH">
                My links
            </p>
            <a href="https://github.com/Blue-Safe">github</a>

            <a href="https://www.linkedin.com/in/isaiah-smith-b03b11381/">linkedin</a>

            <a class="footer" href="https://www.youtube.com/channel/UCl87c8Qo9XsgU7mlbTQUP0w">youtube</a>
        </div>
        <div>
            <p class="footerH">
                Reach out to me!
            </p>
             <p>
                iws7238@rit.edu
             </p>
             <p>
                isaiahsmith1776@gmail.com
             </p>
        </div>

    </footer>


</body>
  
</html>